/* #bg {
    width:300px;
    height: 300px;
    background-image: url(../image/DD.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right top;
}/* no-repreat 반복안함 cover최대한 키워서 맞춰줌 */
/* v포지션:가로 세로// 퍼센트 지정 가능

#img {
    width: 300px;
    height: 300px;
    background-color:blue;} */

    body{
        background-image: url(../image/DD.png);
        background-size: 300px;
        background-attachment: fixed;
        background-repeat:no-repeat ;
        background-position: center ;
    }
    
    div {
        width: 300px;
        height: 300px;
        padding: 30px;
        margin: 24px;
        border: 8px solid black;
    }
    

    #bg {
        
        background-image: url(../image/Image20240202100015.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: content-box ;
        /* background-origin: border-box ; */
        /* background-origin: padding-box ; */
        /* background-position: 50% 0%; */
    }/* no-repeat 반복안함 cover최대한 키워서 맞춰줌 */
    
    /* 포지션:가로 세로// 퍼센트 지정 가능 */
    
    #img {
        
        background-color:blue;}