#wrapper {
    position: relative;
}

.box{
    position: absolute;
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: aqua;
    z-index: 1;
}

.box2 {

    top: 10px;
    left: 20px;
    background-color: red;
    z-index: 2;
}


.box3 {
    top: 50px;
    left: 10px;
    background-color: rebeccapurple;
}


/* 같은 인덱스 순위라면 기본 배치 기준으로 우선 순위 정함  */