<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시퀄라이즈</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
        <div id="form-box">
            <div>
                <form id="user-form">
                    <fieldset>
                        <legend>사용자 등록</legend>
                        <div>
                            <label for="userId">
                                아이디
                            </label>
                                <input id="userId" type="text">
                        </div>
                        <div>
                            <label for="name">
                                이름
                            </label>
                                <input id="name" type="text">
                        </div>
                        <div>
                            <label for="password">
                                비밀번호
                            </label>
                                <input id="password" type="password">
                        </div>
                        <div>
                            <label for="profileImage">
                                프로필 이미지
                            </label>
                                <input id="profileImage" type="file" accept="image/*">
                        </div>
                        <button type="submit">등록</button>
                    </fieldset>
                </form>
            </div>
            <div>
                <form id="post-form">
                    <fieldset>
                        <legend>게시글 등록</legend>
                        <div>
                            <label for="writerId">작성자 아이디</label>
                            <input id="writerId" type="text">
                        </div>
                        <div>
                            <label for="content">글 내용</label>
                            <input id="content" type="text">
                        </div>
                        <button type="submit">등록</button>
                    </fieldset>
                </form>
                <table id="user-list">
                    <thead>
                        <tr>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>프로필 이미지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 사용자 목록 -->
                        {% for user in users %}
                        <tr>
                            <td>{{user.userId}}</td>
                            <td>{{user.name}}</td>
                            <td>
                                <img src="/img/{{user.profileImg}}" alt="프로필사진" width="75" />
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table id="post-list">
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>내용</th>
                            <th>작성자 아이디</th>
                            <th>수정, 삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 게시글 목록 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/users.js"></script>
    <script src="/js/posts.js"></script>
</body>
</html>