*{
    margin: 0px;
    padding: 0px;
}

section {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    margin: 50px;
    /* perspective: 150px;*/
} 

.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine
}

.box1:hover {
    transform: SKEWX(-90deg);
    transition: 1s;
}


.box2:hover {
    transform: SKEWY(-180deg);
    transition: 1s;
}

.box3:hover {
    transform: SKEW(180deg);
    transition: 1s;
    
}

